#title{
                text-align: center;
            }
            
            table{
                margin: auto;
            }
            
            input[type=submit]{
                float: right;
            }