#bgPage{
    background-image: url("images/testGif.gif");
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(2px);

    position: fixed;
    left: -20px;
    right: -20px;
    top: -20px;
    z-index: -1;
}

#body{
    background-image: url("images/glass2.png");
    background: rgba(80,80,80,0.6);
    border: 1px solid #f1f1f1;
    border-color: rgba(45, 45, 45, .5);
    border-radius: 45px;
    color: whitesmoke;
    
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    
    padding: 20px;
    padding-bottom: 40px;
}