/* 
    Created on : Apr 24, 2018, 5:15:54 PM
    Author     : Thomas
*/

#title{
    text-align: center;
}

form{
    margin: auto;
    width: 400px;
    padding: 15px 10px 125px;
    border: 3px solid #f1f1f1;
}
.text{
    margin-top: 10px;
    width: 30%;
    float: left;
    text-align: right;
}

.textbox{
    margin-top: 10px;
    width: 65%;
    margin-left: 10px;
    float:left;
}

input[type=submit]{
    font-weight: bold;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    float: right;
    background-color: powderblue;
    border: none;
}